@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-color: #8E87FA;
  font-family: 'Lato', sans-serif;
}

.background-image {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px) hue-rotate(45deg);
}

.background-image-no-blur {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  opacity: .34;
  filter: hue-rotate(50deg);
}